@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/assets/gt-walsheim-medium.otf") format("opentype");
  font-family: "Framer";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

:root {
  font-family: "GT Walsheim Medium", "GT Walsheim Medium Placeholder", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1em;
  letter-spacing: .04em
}